.projectModal {
  position: fixed;
  flex-direction: column;
  background: rgb(171, 168, 168);

  width: 90vw;
  height: 100vh;
  right: 0;
  transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);
}

.xbutton {
  width: 4rem;
  height: 5rem;
  background: rgb(47, 57, 66);
  border: none;
  cursor: pointer;
}

.xbutton h2 {
  margin: 0;
  color: white;
}

.xbutton:hover {
  background: rgb(61, 61, 90);
}

.innerModalDiv {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-left: 5%;
  padding-left: 1rem;
  height: 75%;
  width: 90%;
}

.descriptionDiv {
  background-color: transparent;
}

.descriptionText {
  color: white;
  font-size: 1.5rem;
  line-height: 2em;
  letter-spacing: 0.15em;
}

.languagesText {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.linkText {
  color: rgb(199, 34, 117);
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 0.05em;

  margin: 5rem 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.slideDiv {
  position: relative;
}

.slideImageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.image {
  max-width: 90%;
  box-shadow: 4px 4px 3px #312f42;
}

.carousel_buttons {
  position: absolute;
  top: 70%;
  cursor: pointer;
}

.arrow_left {
  left: 30%;
  background-color: transparent;
  border-bottom: 3rem solid transparent;
  border-top: 3rem solid transparent;
  border-right: 1.5rem solid white;
  border-left: none;
}

.arrow_right {
  right: 13%;
  background-color: transparent;
  border-bottom: 3rem solid transparent;
  border-top: 3rem solid transparent;
  border-left: 1.5rem solid white;
  border-right: none;
}
