.projectModal {
  position: fixed;
  flex-direction: column;
  background: rgb(171, 168, 168);

  width: 90vw;
  height: 100vh;
  right: 0;
  transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);
}

.xbutton {
  width: 4rem;
  height: 5rem;
  background: rgb(47, 57, 66);
  border: none;
  cursor: pointer;
}

.xbutton h2 {
  margin: 0;
  color: white;
}

.xbutton:hover {
  background: rgb(61, 61, 90);
}

.innerModalDiv {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-left: 5%;
  padding-left: 1rem;
  height: 75%;
  width: 90%;
}

.descriptionDiv {
  background-color: transparent;
}

.descriptionText {
  color: white;
  font-size: 1rem;
  line-height: 2em;
  letter-spacing: 0.15em;
}

.languagesText {
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
  letter-spacing: 0.1em;
}

.linkText {
  color: rgb(199, 34, 117);
  font-size: 1.7rem;
  font-weight: 800;
  letter-spacing: 0.05em;

  margin: 5rem 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.slideImageDiv {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 70%;
  overflow: auto;
}

.slideImageDiv::-webkit-scrollbar {
  display: none;
}

.slideImageDiv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.image {
  max-width: 80%;
  box-shadow: 4px 4px 3px #312f42;
}

.arrowDiv {
  display: flex;
}

.arrow {
  font-size: 3rem;
  color: rgb(75, 85, 100);
  padding: 3rem 1rem;
  cursor: pointer;
}

.arrow:hover {
  color: rgb(85, 141, 225);
}
