.bikeContainer {
  position: absolute;
  bottom: 10vh;
  transition: 20s linear;
}

.bigWheel {
  position: relative;
  animation: spin infinite 4s linear;

}

.pennyFrame {
  position: relative;
  transform: translate(10vw, -5.5vh);

}

.smallWheel {
  position: absolute;
  left: 37%;
  bottom: 5%;
  animation: spin infinite 1.6s linear;
}


@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }