.bikeContainer {
  position: absolute;
  bottom: 10vh;
  transition: 20s linear;
}

.bigWheel {
  position: relative;
  right: 14%;
  /* animation: spin infinite 4s linear; */
}

.pennyFrame {
  position: relative;
  transform: translate(38%, -26%);
  z-index: 3;
}

.smallWheel {
  /* position: relative; */
  position: fixed;
  left: 32%;
  bottom: 5%;

  /* transform: translate(238%, -26%); */

  /* animation: spin infinite 1.6s linear; */
}

/* translate(238%, -26%); */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes smallSpin {
  from {
    transform: translate(238%, -26%) rotate(0deg);
  }
  to {
    transform: translate(238%, -26%) rotate(360deg);
  }
}

@media (max-width: 820px) {
  .pennyFrame {
    transform: translate(-34%, 59%);
  }

  .bigWheel {
    right: -12%;
    transform: translateY(10%);
  }

  .smallWheel {
    left: 46%;
    bottom: -5%;
  }
}
