.bikeContainer {
  position: absolute;
  bottom: 10vh;
  transition: 20s linear;
}

.bigWheel {
  position: relative;
  animation: spin infinite 6s linear;
}

.pennyFrame {
  position: relative;
  transform: translate(-30%, 85%);
  z-index: 3;
}

.smallWheel {
  position: relative;
  animation: smallSpin infinite 2s linear;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes smallSpin {
  from {
    transform: translate(-65%, 570%) rotate(0deg);
  }
  to {
    transform: translate(-65%, 570%) rotate(360deg);
  }
}


