

.sideBarDiv {
    position: absolute;
    margin-top: 20vh;
    top: 0;
    display: flex;
    flex-direction: column;
    background: white;
    /* background: linear-gradient(to Right, white, #565655); */
    width: 22vw;
    height: 100vh;
    text-align: end;
    transition: 1s cubic-bezier(0.4, 0, 0.4, 1);
    
  }

  .closed {
    /* background: linear-gradient(to Right, white, #5a3939); */

  }